@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background: coral;
    font-family: 'Montserrat', sans-serif;
}

.container {
    padding: 1%;
    margin: 1%;
    background: white;
    border-radius: 20px;
}

.foto {
    width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}