@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background: coral;
    font-family: 'Montserrat', sans-serif;
}

.container {
    padding: 1%;
    margin: 1%;
    background: white;
    border-radius: 20px;
}

.img-fluid {
    border-radius: 5px;
}

h1 {
    font-weight: bold;
}

.col-10 ul li {
    list-style: none;
}

a {
    text-decoration: none;
}